
* {
    box-sizing: border-box;
    margin:0;
    padding:0
}

body {
    background-image: url("https://phinf.wevpstatic.net/MjAyNTA3MjNfOTQg/MDAxNzUzMjU5ODk5MTg4.c3L0-IxG5wOBmcPcHTsgY_VLYWLoP0-atR7j_Y1FCcAg.KcsNIEFlf51ZdCsJCIBGgjVgP9Xj5fh21u0lJVs6XkQg.JPEG/c217f3eb-b265-4ee5-b4e4-f2cd602b52b3.jpeg");

}

#wordsearch {
    display: flex;
    justify-items: center;
    border-radius: 5px;

}
#searchform {
    display:flex;
    margin-bottom: 50px;
}
.btn-input {
    padding: 14px 30px;
    font-family:monospace;
        border: 5px solid purple;
        color: rgb(191, 39, 65);
}

#SearchedWord {
    display: flex;
    font-family:monospace;
    border: 5px solid rgb(143, 37, 132);
    border-style: dotted;
    justify-content: center;
    color:darkolivegreen;
}

#wordDesc {
    display: flex;
    justify-content: center;
}

#audio {
    display: flex;
    border: 12px solid ;
    width: 800px;
    justify-content: center;
    align-items: center;
}



